<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add devices
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add devices</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-no-padding ion-margin-bottom">
    <ion-row fixed>
      <ion-toolbar>
        <ion-label class="ion-padding-start">Connected Devices</ion-label>
        <ion-buttons slot="end">
          <ion-button fill='clear'  class="ion-margin-end">
            <ion-icon name="add-outline" slot="icon-only" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor='let device of devices' button>
      <ion-thumbnail slot="start">
        <img src={{device.img}}>
      </ion-thumbnail>
      <ion-label>
        <p>{{device.name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  
  
</ion-content>
