<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chart</ion-title>
    </ion-toolbar>
  </ion-header>

  <apx-chart
    [series]="chartOptionsT.series"
    [chart]="chartOptionsT.chart"
    [xaxis]="chartOptionsT.xaxis"
    [yaxis]="chartOptionsT.yaxis"
    [title]="chartOptionsT.title"
    [colors]="chartOptionsT.colors"
    [dataLabels]="chartOptionsT.dataLabels"
    [stroke]="chartOptionsT.stroke"
    [title]="chartOptionsT.title"
    [markers]="chartOptionsT.markers"
    [legend]="chartOptionsT.legend"
  ></apx-chart>

  <apx-chart
    [series]="chartOptionsH.series"
    [chart]="chartOptionsH.chart"
    [xaxis]="chartOptionsH.xaxis"
    [yaxis]="chartOptionsH.yaxis"
    [title]="chartOptionsH.title"
    [colors]="chartOptionsH.colors"
    [dataLabels]="chartOptionsH.dataLabels"
    [stroke]="chartOptionsH.stroke"
    [title]="chartOptionsH.title"
    [markers]="chartOptionsH.markers"
    [legend]="chartOptionsH.legend"
  ></apx-chart>
  
</ion-content>
